.main{
    border: 10px solid red;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    height: 100%;
    width: 100%;
}
.component :hover
{
    text-decoration: none;
}
.component
{
    /* display: block;
    margin: 10px;
    border: 2px solid black;
    height: 75%;
    width: 25%;
    padding: 4px; */
    width: 25%;
    min-width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
   margin-left: 5vh;
   margin-right: 5vh;
    

}

.component-image
{
    
    width: 100%;
}

.component-change
{
    
    /* width: 50%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: .5vw; */
    margin-bottom: 25px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
   /* margin: 1px; */

}
a div{
    text-decoration: none;
    color: black;
}
div :hover{
    text-decoration: none !important;
}